*{
    margin: 0;
}
p {
    color:brown !important;
    background-color: bisque;
    font-size: 18px;
    font-weight: normal;
    font-style: unset;
    font-variant: normal;
    font-stretch: normal;
    text-transform: none;
    text-indent: 10%;
    text-decoration:none;
    text-align: center;
    white-space:nowrap;
    letter-spacing: 5px;
    word-spacing: 2px;
    vertical-align: auto;
    cursor: col-resize;
    font-family: 'Alkatra', cursive;
}
h1{
    background-color: aqua;
    color:gold;
}
#par1{
    background-color: aquamarine;
    color:green;
}
#par2{
    background-color: blueviolet;
    color: blue;
}
.yellowMark{
    background-color: yellow;
}
.bigFont{
    font-size: 20px;
}
.borders{
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 40px;
    padding-top: 4px;
    padding-left: 80px;background-color: lightseagreen;
} 
ul{
    border: solid 4px blue;
    width: 450px;
    padding: 14px 0px 14px 35px;
    background-color: #a0ffa0;
    color:black;
    box-sizing: border-box;
}
li{
    color: brown;
    background-color: black;
    width: 150px;
    overflow:inherit;
}
span{
    color:blueviolet;
    font-size: 20px;
    font-weight:bold;
}
div > span{
    color:darkorange;
    font-size: 35px;
    font-weight: 400;
}